<div *ngIf="showCreationModal" class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display' : 'block'}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Criar nova tarefa</h2>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <!--title : string; -->
          <div class="form-group">
            <label for="inputTitle">Titulo</label>
            <input type="text" class="form-control" id="inputTitle" placeholder="Insira o título da tarefa">
          </div>
          <!--description : string; -->
          <div class="form-group">
            <label for="inputDescription">Descrição</label>
            <input type="text" class="form-control" id="inputDescription" placeholder="Insira a descrição da tarefa">
          </div>
          <!--category : string; -->
          <div class="form-group">
            <label for="inputCategory">Categoria</label>
            <select type="text" class="form-control" id="inputCategory" placeholder="Insira a categoria da tarefa">
              <option [value]="-1">Selecione uma categoria</option>
              <option *ngFor="let category of listCategories" [value]="category">{{category.name}}</option>
            </select>
          </div>
          <!-- status : number; -->
          <div class="form-group">
            <label for="inputStatus">Status</label>
            <input type="text" class="form-control " disabled id="inputStatus" [value]="taskStatus.name" >
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closeCreationModal()">
          Close
        </button>
        <button type="button" class="btn btn-success">
          Criar
        </button>
      </div>
    </div>
  </div>
</div>
