<div *ngIf="showCreationModal" class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display' : 'block'}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Criar nova tarefa</h2>
      </div>
      <div class="modal-body">
        <form class="form-group" (ngSubmit)="createTask ()">
          <!--title : string; -->
          <div class="form-group">
            <label for="inputTitle">Titulo</label>
            <input type="text" class="form-control" id="inputTitle" placeholder="Insira o título da tarefa" name="title" [(ngModel)]="taskForm.title">
          </div>
          <!--description : string; -->
          <div class="form-group">
            <label for="inputDescription">Descrição</label>
            <input type="text" class="form-control" id="inputDescription" placeholder="Insira a descrição da tarefa" name="description" [(ngModel)]="taskForm.description">
          </div>
          <!--category : string; -->
          <div class="form-group" *ngIf="listCategories.length > 0">
            <label for="inputCategory">Categoria</label>
            <input type="text" class="form-control" id="inputCategory" placeholder="Insira a categoria da tarefa" name="category" [(ngModel)]="taskForm.idCategory">
            <ul>
              <li *ngFor="let category of listCategories" [value]="category.id">{{category.name}}</li>
            </ul>
          </div>
          <!-- status : number; -->
          <div class="form-group">
            <label for="inputStatus">Status</label>
            <input type="text" class="form-control " disabled id="inputStatus" [value]="taskStatus.name">
          </div>
          <button type="submit" class="btn btn-success mt-3 float-right">
            Criar Tarefa
          </button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closeCreationModal()">
          Fechar
        </button>
      </div>
    </div>
  </div>
</div>
