<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display' : 'block'}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
      <div class="modal-body">
        <form class="form-group" (ngSubmit)="formSubmit($event)">
          <!--title : string; -->
          <div class="form-group">
            <label for="inputTitle">Title</label>
            <input type="text" class="form-control" id="inputTitle" placeholder="Insira o título da tarefa" name="title" [(ngModel)]="taskForm.title">
          </div>
          <!--description : string; -->
          <div class="form-group">
            <label for="inputDescription">Description</label>
            <input type="text" class="form-control" id="inputDescription" placeholder="Insira a descrição da tarefa" name="description" [(ngModel)]="taskForm.description">
          </div>
          <!-- status : number; -->
          <div class="form-group">
            <label for="inputStatus">Status</label>
            <input type="text" class="form-control " disabled id="inputStatus" [value]="taskForm.nameStatus">
          </div>
          <div class="d-flex justify-content-end mt-3">
            <div class="">
              <button *ngIf="formType == 2" type="submit" class="btn btn-success">
                Create
              </button>
              <button *ngIf="formType == 3" type="submit" class="btn btn-success">
                Update data
              </button>
            </div>
            <div class="ms-3">
              <button type="button" class="btn btn-danger full-width" (click)="closeCreationModal()">
                Close
              </button>              
            </div>
          </div>
        </form>
      </div>
      <!--div class="modal-footer">
        
      </div-->
    </div>
  </div>
</div>
