/* You can add global styles to this file, and also import other style files */

*{
  --background-color : #BBF;
  --font-default-color : #555;
}
html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Andale Mono, monospace;
  color : var(--font-default-color);
  background:var(--background-color);
}
